body {
    margin: 0;
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 40px;
    width: 8em;
    height: 12em;
    background-color: rgb(30, 30, 30);
    font-family: Geo;
    color: rgb(200, 200, 100);
}

#game .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

#game .screen.active {
    display: block;
}

#splash-screen {
    text-align: center;
    padding-top: 2.5em;
}

#splash-screen .continue {
    cursor: pointer;
    font-size: 0.75em;
}

.logo {
    font-family: Slackey;
    font-size: 1.5em;
    line-height: 0.9em;
    margin: 0;
    text-align: center;
    color: rgb(70, 120, 20);
    text-shadow: 0.03em 0.03em 0.03em rgb(255, 255, 0),
        -0.03em -0.03em 0.03em rgb(255, 255, 0),
	0.10em 0.15em 0.15em rgb(0, 0, 0);
}
