body {
    margin: 0;
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 480px;
    background-color: rgb(30, 30, 30);
    font-family: Geo;
    color: rgb(200, 200, 100);
}

#game .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

#game .screen.active {
    display: block;
}
